html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.logoImg {
    width: 4vw;
    max-width: 46px;
    max-height:46px;
    height: auto;
}

.title {
    font-family: Oswald;
    font-size: min(3.2vw,36px);
    font-weight: 400;
}

.subtitle {
    font-family: Abel;
    font-size: 2.7vw;
}

.head1{
    font-family: Oswald;
    font-size: 3vw;
}

.head2 {
    font-family: Oswald;
    font-size: 2.5vw;
}

.head3 {
    font-family: Oswald;
    font-size: 2.25vw;
}

.head4 {
    font-family: Oswald;
    font-size: 2vw;
}

.head5 {
    font-family: Oswald;
    font-size: 1.75vw;
}

.head6 {
    font-family: Oswald;
    font-size: 1.5vw;
}

.leadText{
    font-family: Abel;
    font-size: 1.21vw;
    font-weight: 900;
}

.text {
    font-family: 'Hind Madurai';
    font-size: 1.16vw;
}

.carousel-item {
    height: 50vw;
    max-height: 400px;
    color: white;
    text-align: center;
}

.container {
    bottom: 0;
    left: 0;
    right: 0;
}

.btn-primary {
    color: #000;
    background-color: antiquewhite;
    border-color: antiquewhite;
    padding: 5px,15px,5px,15px;
    font-family: Abel;
    text-transform: uppercase;
    letter-spacing: 0.3vw;
    font-weight:900;
    font-size: 1.21vw;
}

    .btn-primary:hover {
        color: #000;
        background-color: antiquewhite;
        border-color: antiquewhite;
    }

.btn-outline {
    color: #000;
    font-family: Abel;
    font-size: 1.21vw;
    text-decoration: underline;
}