@page
@model WebCITE.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}
<div id="titleContainer" class="container text-center pt-3 pb-3">
    <p class="smallText mb-0" style="color:#ea2340; font-weight: 900;">About</p>
    <h4 class="head4">Get to know what motivates us!</h4>
</div>
<div class="row justify-content-center">
    <div class="col-7 rounded-3 shadow-sm p-5 mb-3" style="position:relative">
        <p class="leadText">Mission</p>
        <p class="text">Our mission is to promote the general welfare and holistic development of the students, provide a better educational environment and equip them with the current technological advancements that will develop their skills for their future projects in academics, in social innovation and in response to the challenges of the 21st century guided by De La Salle Lipa's Strategic Direction and United Nation Sustainable Development Goals.</p>
    </div>
    <div class="col-7 rounded-3 shadow-sm p-5" style="position:relative">
        <p class="leadText">Vision</p>
        <p class="text">To establish a community of future Engineers and ITE Professionals that are technically-skilled, competent, responsive and responsible for global development.</p>
    </div>
</div>
<div class="p-5 mb-5 text-light" style="background-color:#3d292b">
    <h3 class="head3 text-center">Pillars of Service</h3>
    <hr />
    <div class="row justify-content-center" style="width:fit-content; gap:100px;">
        <div class="col-3 text-center">
            <img style="width:auto; height:10vw;" src="\images\Pillars of Service\5PillarsofService-Icons_Icon-MentalCompetence.svg" />
            <p class="leadText mt-3" style="font-size:2vw; letter-spacing: 0.1vw">Mental Competence</p>
            <p class="text" style="font-size:1vw">Developing the students' skill in decision making by thinking rationally, expressing themselves and appreciating the possible consequences of their actions.</p>
        </div>
        <div class="col-3 text-center">
            <img style="width:auto; height:10vw;" src="\images\Pillars of Service\5PillarsofService-Icons_Icon-EmotionalSatisfaction.svg" />
            <p class="leadText mt-3" style="font-size:2vw; letter-spacing: 0.1vw">Emotional Satisfaction</p>
            <p class="text" style="font-size:1vw">Understanding one's own emotions and being able to convey any hidden feelings. Having positive emotions lead to the student's in making positive decisions and engagement.</p>
        </div>
    </div>
    <div class="row mt-5 justify-content-center" style="width:fit-content; gap:100px;">
        <div class="col-3 text-center">
            <img style="width:auto; height:10vw;" src="\images\Pillars of Service\5PillarsofService-Icons_Icon-PhysicalStability.svg" />
            <p class="leadText mt-3" style="font-size:2vw; letter-spacing: 0.1vw">Physical Stability</p>
            <p class="text" style="font-size:1vw">Facilitating the development of students' responsibility for health and fitness as this increases their mental abilities and contributes in improving their academic and professional performances.</p>
        </div>
        <div class="col-3 text-center">
            <img style="width:auto; height:10vw;" src="\images\Pillars of Service\5PillarsofService-Icons_Icon-SocialCollaboration.svg" />
            <p class="leadText mt-3" style="font-size:2vw; letter-spacing: 0.1vw">Social Collaboration</p>
            <p class="text" style="font-size:1vw">Compromising interactions of students with others including organizations and partners within and outside the school. Collaboration doesn't just strengthen students' existing skills but it also ensures that their  interactions stretch existing.</p>
        </div>
        <div class="col-3 text-center">
            <img style="width:auto; height:10vw;" src="\images\Pillars of Service\5PillarsofService-Icons_Icon-SpiritualDevelopment.svg" />
            <p class="leadText mt-3" style="font-size:2vw; letter-spacing: 0.1vw">Spiritual Development</p>
            <p class="text" style="font-size:1vw">Enriching the students' relationship with other people and, for believers, with God. As part of the De La Salle Lipa community, the students will be able to develop and sustain their spiritual lives by practicing the school's core values.</p>
        </div>
    </div>
</div>